.home-logo {
  padding: 4% 4% 2% 4%;
}

.home-container {
  background-image: url('./public/home-banner.png');
  background-color: #CE2829;
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.home-slogan {
  font-family: Satisfy, cursive;
  color: #FDC913;
  font-size: 2em;
}

.slogan {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-weight: 200;
}

.slogan-container {
  padding: 1% 3%;
}

.home-btn {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #FDC913;
  color: #292929;
  cursor: pointer;
  width: 150px;
}

@media (orientation: portrait) {

  .home-logo {
    width: 80%;
    margin: 10%;
  }

}

@media (max-width: 480px) {

  .slogan {
    font-size: 2em;
  }

  .home-btn {
    margin-top: 10%;
  }

}