* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  overflow-x: hidden;
}

header {
  background-color: #CE2829;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.home-container,
.success-container {
  background-color: #CE2829;
  height: 80vh;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3.2em;
  line-height: 1.1;
}

.slogan {
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: lighter;
}

.slogan-container {
  padding: 3%;
}

h2 {
  margin: 5% 0;
  font-weight: bold;
}

h4 {
  margin: 10% 0 5% 0;
  font-weight: bold;
}

p {
  color: #5F5F5F;
}

.category-label {
  font-weight: bold;
  color: #292929;
}



.btn-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #F5F8FB;
  width: 120px;
  height: 40px;
}


.decrement-btn,
.increment-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDC913;
  border: none;
  cursor: pointer;
}


.counterP {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {

  header {
    width: 100vw;
  }

  .logo {
    width: 90%;
  }

}