.success-container {
    background-color: #CE2829;
    height: 100vh;
    color: white;
  }


.order-details {
    max-width: 34vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}


.success-slogan {
    font-family: Satisfy, cursive;
    color: #FDC913;
    font-size: 2em;
}

.separate-line {
    width: 80%;
    height: 1px;
    background-color: white;

}

.order-title {
    margin: 10% 0;
}

.order-summary {
    text-align: left;
    margin: 5%;
}


.order-box {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 30px;
    width: 20vw;
    margin: 5%;
  }
  
  .order-box-choices, .order-box-total {
    display: flex;
    justify-content: space-between;
  }

  .detail {
    color: white;
}

@media (orientation: portrait) {

    body {
        max-width: 100%;
    }

    header {
        max-width: 100vw;
    }
    
    .order-details {
      max-width: 60vw;
    }

    .order-box {
        padding: 10%;
        width: 60%;
      }

 }

  @media (max-width: 480px) {

    
    .order-details {
      max-width: 85vw;
    }

 }
